@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
   @font-face {
      font-family: 'rokhFaNum';
      src: url('../assets/fonts/RokhFaNum-Regular.ttf') format('truetype');
   }

   @font-face {
      font-family: 'rokhRegular';
      src: url('../assets/fonts/Rokh-Regular.otf') format('truetype');
   }
   @font-face {
      font-family: 'elMessiri';
      src: url('../assets/fonts/ElMessiri-Regular.ttf') format('truetype');
   }

   @media only screen and (max-width: 900px) {
      * {
         cursor: default;
      }
   }

   /* width */
   ::-webkit-scrollbar {
      width: 8px;
      height: 5px;
   }

   /* Track */
   ::-webkit-scrollbar-track {
      background: #a7a3a3;
   }

   /* Handle */
   ::-webkit-scrollbar-thumb {
      background: #e27005;
   }

   /* Handle on hover */
   ::-webkit-scrollbar-thumb:hover {
      background: #fb9b40;
   }
}
